body {
}

.table-common {

}

.table-common .function{
    color:blue;
    cursor:pointer !important;
}

.table-common .page-item.active {
     background-color: #007bff
}

.table-common .page-item {
    cursor: pointer !important;
}

    .table-common .page-item.no-event {
        pointer-events:none;
        opacity:0.5;
    }


.div-button button {
    float: right;
    margin-right:5px;
}

.message-danger {
    color:red;
}
.message-danger-error {
    color: red;
}

.note-editable {
    height: 100px;
}
.div-filter {
    float:left
}

.font-bold {
    font-weight: bold
}

.select2-selection--single{
    height:38px !important;
}